#container{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#container fieldset{
	border: none;
	font-size: 18px;
	font-weight: bold;
}

#container fieldset input,label{
	width: 200px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#container fieldset label{
text-align: left;
	}

#container fieldset input[type=submit]{
font-size: 18px;
margin-top: 10px;
background:#000;
color: #fff;
border-radius: 5px;
}

.error{
	display: inline-block;
	font-size: 16px;
	color: #f00;
	margin-bottom: 10px;
}
